.navContainer {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: transparent;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(60px + 4rem) 1fr;

  pointer-events: none;

  z-index: 99;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 2rem;

  transition: 0.4s;
}

.navLogo {
  pointer-events: all;
  align-self: center;
}

.burgerContainer {
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  height: 80px;
  pointer-events: all;
}

.burgerBars {
  background-color: transparent;
}

.burgerBars:hover {
  cursor: pointer;
}

.burgerBar1, .burgerBar2, .burgerBar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.4s;
  transform: translateX(-100vw);
}

.navMenu :is(ul) {
  list-style: none;
}

.navMenu :is(li, a:link, a:visited, a:hover, a:active) {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  pointer-events: all;
}

.navActive :is(.navMenu) {
  background-color:rgba(0,0,0,0.8);
  transform: translateX(0);
}

.navActive :is(.navBar) {
  background-color:rgba(0,0,0,1);
}

.navActive :is(.burgerBar1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navActive :is(.burgerBar2) {
  opacity: 0;
}

.navActive :is(.burgerBar3) {
  transform: rotate(45deg) translate(-8px, -8px);
}