.navbar {
  display: flex;
  z-index: 20;
  background-color: transparent;
  pointer-events: none;
  width: calc(100vw - 60px);
  height: 60px;
  position: fixed;
  top: 0%;
  left: 0%;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.navContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: 0.4s;
  transform: translateY(-100vh);
  align-content: center;
  justify-content: center;
  z-index: 10;
  background-color:rgba(0,0,0,0.95);
  pointer-events: all;
}

.navContainer.navActive {
  transform: translateY(0);
}

.navList {
  z-index: 11;
  pointer-events: all;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navItem {
  text-align: center;
  padding: 2rem;
}

.navLink:link, .navLink:visited {
  z-index: 12;
  align-content: center;
  pointer-events: all;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

.navLink:hover, .navLink:active {
  text-decoration: none;
}

.navToggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  height: 60px;
  pointer-events: all;
  z-index: 21;
}

.navToggleBars {
  background-color: transparent;
}

.navBarTop, .navBarMiddle, .navBarBottom {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.navToggleMenu:hover, .navToggleBars:hover {
  cursor: pointer;
}

.navActive .navBarTop {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navActive .navBarMiddle {opacity: 0;}

.navActive .navBarBottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.logo {
  pointer-events: all;
  z-index: 21;
}