@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap');

* {
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1, h2 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3, p {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

.primary-container {
  display: grid;
  grid-template-rows: 100vh auto;
}

/*
This needs fixing so that the height (of this element and the nav-toggle 
container) is calculated based on (rem * line height). Likely to cause issues 
in the future in its current form. To be addressed when adding SCSS.
*/
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 3rem;
  color: #ffffff;
  text-decoration: none;
  height: 60px;
}

.nav-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  height: 60px;
}

.nav-toggle-menu {
  padding: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

.nav-toggle-bars {
  background-color: transparent;
}

.nav-bar-top, .nav-bar-middle, .nav-bar-bottom {
  width: 35px;
  height: 2px;
  background-color: #ffffff; 
  margin: 6px 0;
  transition: 0.4s;
}

.nav-toggle-menu:hover, .nav-toggle-bars:hover {
  cursor: pointer;
}

.active .nav-bar-top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.active .nav-bar-middle {opacity: 0;}

.active .nav-bar-bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.top {
  background: url(/public/images/monastery.jpg) no-repeat 50%;
  min-height: 100vh;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.top > .top-content {
  text-align: center;
  min-width: 100vw;
}

.past {
  min-height: 100vh;
}