.boddy {
  background-color: blueviolet;
}

.navContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  top: 0%;
  left:0%;
  transition: 0.4s;
  transform: translateY(calc(-100vh + 80px));
  pointer-events: none;
  align-content: space-between;
  z-index: 500;
}

.navSpacer {
  align-self: flex-start;

  width: calc(100% - 60px);
  height: 80px;
  margin: 0px 30px;
  z-index: 510;
}

.navLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: calc(100% - 60px);
  margin: 0px 30px;
  height: calc(100vh - 160px);
  z-index: 510;
}

.navLinksContainer > li {
  list-style: none;
  padding: 20px;
  z-index: 520;
}

.navLink:link, .navLink:visited {
  z-index: 12;
  align-content: center;
  pointer-events: all;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  z-index: 530;
}

.navLink:hover, .navLink:active {
  text-decoration: none;
}

.menuBar {
  align-self: flex-end;
  width: calc(100% - 60px);
  height: 80px;
  margin: 0px 30px;

  display: flex;
  justify-content: space-between;
  z-index: 520;
}

.logo {
  pointer-events: all;
  align-self: center;
  z-index: 530;
}

.burgerContainer {
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  height: 80px;
  pointer-events: all;
  z-index: 530;
}

.burgerBars {
  background-color: transparent;
  z-index: 540;
}

.burgerBars:hover {
  cursor: pointer;
}

.burgerBar1, .burgerBar2, .burgerBar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.navContainer.navActive {
  background-color:rgba(0,0,0,0.95);
  transform: translateY(0);
}

.active .burgerBar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navActive .burgerBar2 {opacity: 0;}

.navActive .burgerBar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}