@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap');

* {
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  display: block !important;
}

h1, h2 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3, p {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}