* {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  border: 0%;
}

.primary-container {
  display: grid;
  grid-template-rows: 100vh auto;
}

.top {
  background: url(/public/images/monastery.jpg) no-repeat 50%;
  min-height: 100vh;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.top > .top-content {
  text-align: center;
}